USE [DBNASE]
GO
/****** Object:  Table [dbo].[BNKCUST]    Script Date: 15/05/2023 11:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BNKCUST](
	[BCS_PID] [char](5) NOT NULL,
	[BCS_NAME] [char](25) NOT NULL,
	[BCS_NAME_FF] [char](25) NOT NULL,
	[BCS_SIN] [char](9) NOT NULL,
	[BCS_ADDR1] [char](25) NOT NULL,
	[BCS_ADDR2] [char](25) NOT NULL,
	[BCS_STATE] [char](2) NOT NULL,
	[BCS_COUNTRY] [char](6) NOT NULL,
	[BCS_POST_CODE] [char](6) NOT NULL,
	[BCS_TEL] [char](12) NOT NULL,
	[BCS_EMAIL] [char](30) NOT NULL,
	[BCS_SEND_MAIL] [char](1) NOT NULL,
	[BCS_SEND_EMAIL] [char](1) NOT NULL,
	[BCS_ATM_PIN] [char](4) NOT NULL,
	[BCS_PRINTER1_NETNAME] [char](8) NOT NULL,
	[BCS_PRINTER2_NETNAME] [char](8) NOT NULL,
	[BCS_FILLER] [char](58) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BCS_PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('         ') FOR [BCS_SIN]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('                         ') FOR [BCS_ADDR1]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('                         ') FOR [BCS_ADDR2]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('  ') FOR [BCS_STATE]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('      ') FOR [BCS_COUNTRY]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('      ') FOR [BCS_POST_CODE]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('            ') FOR [BCS_TEL]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('                              ') FOR [BCS_EMAIL]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT (' ') FOR [BCS_SEND_MAIL]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT (' ') FOR [BCS_SEND_EMAIL]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('    ') FOR [BCS_ATM_PIN]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('        ') FOR [BCS_PRINTER1_NETNAME]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('        ') FOR [BCS_PRINTER2_NETNAME]
GO
ALTER TABLE [dbo].[BNKCUST] ADD  DEFAULT ('                                                          ') FOR [BCS_FILLER]
GO
