USE [DBNASE]
GO
/****** Object:  Table [dbo].[BNKTXN]    Script Date: 15/05/2023 11:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BNKTXN](
	[BTX_PID] [char](5) NOT NULL,
	[BTX_TYPE] [char](1) NOT NULL,
	[BTX_SUB_TYPE] [char](1) NOT NULL,
	[BTX_ACCNO] [char](9) NULL,
	[BTX_TIMESTAMP] [datetime] NOT NULL,
	[BTX_TIMESTAMP_FF] [char](26) NOT NULL,
	[BTX_AMOUNT] [decimal](9, 2) NOT NULL,
	[BTX_DATA_OLD] [char](150) NOT NULL,
	[BTX_DATA_NEW] [char](150) NOT NULL,
	[BTX_FILLER] [char](27) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BNKTXN] ADD  DEFAULT (getdate()) FOR [BTX_TIMESTAMP]
GO
ALTER TABLE [dbo].[BNKTXN] ADD  DEFAULT (' ') FOR [BTX_TIMESTAMP_FF]
GO
ALTER TABLE [dbo].[BNKTXN] ADD  DEFAULT ((0)) FOR [BTX_AMOUNT]
GO
ALTER TABLE [dbo].[BNKTXN] ADD  DEFAULT (' ') FOR [BTX_DATA_OLD]
GO
ALTER TABLE [dbo].[BNKTXN] ADD  DEFAULT (' ') FOR [BTX_DATA_NEW]
GO
ALTER TABLE [dbo].[BNKTXN] ADD  DEFAULT (' ') FOR [BTX_FILLER]
GO
ALTER TABLE [dbo].[BNKTXN]  WITH CHECK ADD FOREIGN KEY([BTX_ACCNO])
REFERENCES [dbo].[BNKACC] ([BAC_ACCNO])
GO
ALTER TABLE [dbo].[BNKTXN]  WITH CHECK ADD FOREIGN KEY([BTX_PID])
REFERENCES [dbo].[BNKCUST] ([BCS_PID])
GO
