USE [DBNASE]
GO
/****** Object:  Table [dbo].[BNKACC]    Script Date: 15/05/2023 11:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BNKACC](
	[BAC_PID] [char](5) NOT NULL,
	[BAC_ACCNO] [char](9) NOT NULL,
	[BAC_ACCTYPE] [char](1) NOT NULL,
	[BAC_BALANCE] [decimal](9, 2) NOT NULL,
	[BAC_LAST_STMT_DTE] [date] NOT NULL,
	[BAC_LAST_STMT_BAL] [decimal](9, 2) NOT NULL,
	[BAC_ATM_ENABLED] [char](2) NOT NULL,
	[BAC_ATM_DAY_LIMIT] [decimal](3, 0) NULL,
	[BAC_ATM_DAY_DTE] [date] NULL,
	[BAC_ATM_DAY_AMT] [decimal](3, 0) NULL,
	[BAC_RP1_DAY] [char](2) NULL,
	[BAC_RP1_AMOUNT] [decimal](7, 2) NULL,
	[BAC_RP1_PID] [char](5) NULL,
	[BAC_RP1_ACCNO] [char](9) NULL,
	[BAC_RP1_LAST_PAY] [date] NULL,
	[BAC_RP2_DAY] [char](2) NULL,
	[BAC_RP2_AMOUNT] [decimal](7, 2) NULL,
	[BAC_RP2_PID] [char](5) NULL,
	[BAC_RP2_ACCNO] [char](9) NULL,
	[BAC_RP2_LAST_PAY] [date] NULL,
	[BAC_RP3_DAY] [char](2) NULL,
	[BAC_RP3_AMOUNT] [decimal](7, 2) NULL,
	[BAC_RP3_PID] [char](5) NULL,
	[BAC_RP3_ACCNO] [char](9) NULL,
	[BAC_RP3_LAST_PAY] [date] NULL,
	[BAC_FILLER] [char](59) NULL,
PRIMARY KEY CLUSTERED 
(
	[BAC_ACCNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ((0)) FOR [BAC_BALANCE]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT (getdate()) FOR [BAC_LAST_STMT_DTE]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ((0)) FOR [BAC_LAST_STMT_BAL]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('  ') FOR [BAC_ATM_ENABLED]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ((0)) FOR [BAC_ATM_DAY_LIMIT]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT (getdate()) FOR [BAC_ATM_DAY_DTE]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ((0)) FOR [BAC_ATM_DAY_AMT]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('  ') FOR [BAC_RP1_DAY]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ((0)) FOR [BAC_RP1_AMOUNT]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('     ') FOR [BAC_RP1_PID]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('         ') FOR [BAC_RP1_ACCNO]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT (getdate()) FOR [BAC_RP1_LAST_PAY]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('  ') FOR [BAC_RP2_DAY]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ((0)) FOR [BAC_RP2_AMOUNT]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('     ') FOR [BAC_RP2_PID]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('         ') FOR [BAC_RP2_ACCNO]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT (getdate()) FOR [BAC_RP2_LAST_PAY]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('  ') FOR [BAC_RP3_DAY]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ((0)) FOR [BAC_RP3_AMOUNT]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('     ') FOR [BAC_RP3_PID]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('         ') FOR [BAC_RP3_ACCNO]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT (getdate()) FOR [BAC_RP3_LAST_PAY]
GO
ALTER TABLE [dbo].[BNKACC] ADD  DEFAULT ('                                                          ') FOR [BAC_FILLER]
GO
ALTER TABLE [dbo].[BNKACC]  WITH CHECK ADD FOREIGN KEY([BAC_ACCTYPE])
REFERENCES [dbo].[BNKATYPE] ([BAT_TYPE])
GO
ALTER TABLE [dbo].[BNKACC]  WITH CHECK ADD FOREIGN KEY([BAC_PID])
REFERENCES [dbo].[BNKCUST] ([BCS_PID])
GO
